.date {
  align-items: center;

  font: {
    family: 'Roboto';
    style: normal;
    weight: 400;
    size: 12px;
  }

  line-height: 22px;
  color: $grey99-color;

  &__svg {
    margin-right: 4px;
    width: 14px;
    height: 14px;
    fill: currentColor;
  }
}
