.footer {
  background: $bg-dark-color;

  &__container {
    padding-top: 24px;
    padding-bottom: 16px;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap;
  }

  &__wrapper {
    padding-top: 2px;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    margin-bottom: 6px;
  }

  &__copyright {
    font: {
      style: normal;
      weight: 400;
      size: 14px;
    }

    line-height: 18px;
    color: $greyE9-color;
  }

  @include tablet {
    &__container {
      display: flex;
      gap: 0;
      padding-top: 24px;
    }

    &__wrapper {
      margin-right: 13%;
      padding-top: 6px;
      padding-right: 10px;
    }

    &__logo {
      display: inline-block;
      width: 166px;
      height: 27px;
    }
  }

  @include middle-tablet {
    &__container {
      justify-content: space-between;
    }

    &__wrapper {
      margin-right: 0;
    }
  }

  @include mobile {
    &__container {
      display: grid;
      grid-template-columns: 1fr;
      padding-top: 31px;
    }

    &__wrapper {
      padding-right: 0;
    }

    &__logo {
      margin-bottom: 3px;
      width: 112px;
      height: 18px;
    }

    &__copyright {
      font-size: 10px;
      line-height: 13px;
    }
  }
}

.quote {
  max-width: 361px;

  font: {
    family: 'Roboto';
    style: normal;
    weight: 400;
    size: 16px;
  }

  line-height: 22px;
  color: $greyCA-color;

  @include tablet {
    margin-right: 7%;
  }

  @include middle-tablet {
    display: none;
  }
}

.social {
  justify-self: end;

  &__title {
    margin-bottom: 8px;

    font: {
      family: 'Roboto';
      style: normal;
      weight: 400;
      size: 16px;
    }

    line-height: 22px;
    color: $greyCA-color;
  }

  &__list {
    justify-content: center;
  }

  &__item {
    width: 30px;
    height: 30px;

  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: $bg-page-color;
    object-fit: cover;
    transition: fill 0.3s ease-in-out;
  }

  &__link {
    outline: none;

    &:focus svg {
      fill: $btn-primary-color--hover;
    }

    @include for-desktop {
      &:hover svg {
        fill: $btn-primary-color;
      }
    }

    &:active svg {
      fill: $btn-primary-color--active;
    }
  }

  @include mobile {
    grid-row: 1;
    // grid-column: 1;
    justify-self: center;
    margin-bottom: 40px;
  }
}
