<header class="header">
  <div class="container header__container grid">
    <a class="logo" href="#">
      <img class="logo__img" src="../img/logo.svg" alt="Логотип компании High pass">
    </a>
    <nav class="nav" title="Главное меню" data-menu>
      <button class="close-btn nav__close-btn btn-reset" aria-label="Закрыть меню" data-menu-close>
        <span class="close-btn__img"></span>
      </button>
      <ul class="nav__list list-reset flex">
        <li class="nav__item"><a class="nav__link" href="#about-us" data-menu-item data-scroll>О студии</a></li>
        <li class="nav__item"><a class="nav__link" href="#projects" data-menu-item data-scroll>Наши проекты</a></li>
        <li class="nav__item" data-menu-item ><a class="nav__link" href="#">Услуги</a></li>
        <li class="nav__item" data-menu-item ><a class="nav__link" href="#hero" data-menu-item data-scroll>Мастер-классы</a></li>
        <li class="nav__item"><a class="nav__link" href="#contacts" data-menu-item data-scroll>Контакты</a></li>
      </ul>
      <a class="nav__phone" href="tel:+749542423532">
        <svg class="nav__phone-svg">
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
        +7 495 424-23-532</a>
    </nav>
    <button class="search-btn btn-reset" aria-label="Открыть поиск">
      <svg class="search-btn__svg">
        <use xlink:href="img/sprite.svg#search"></use>
      </svg>
    </button>
    <form class="search" inert>
      <label class="search__label">
        <input class="search__input input-reset" type="text" placeholder="Что будем искать?">
      </label>
      <button class="close-btn search__close-btn btn-reset" aria-label="Закрыть поиск">
        <span class="close-btn__img"></span>
      </button>
    </form>
    <div class="burger-box">
      <button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
