<section class="hero" id="hero">
  <div class="container hero__container grid">
    <h1 class="main-title title-reset visually-hidden">Официальная страница студии художественной фотографии High pass
    </h1>
    <article class="hero-banner flex">
      <p class="hero-banner__description text-reset">Мастер-класс от Игоря Робова</p>
      <h3 class="hero-banner__title title-reset">Неоновый фотосет 2.0 7 июля 20:00</h3>
      <button class="primary-btn hero-banner__btn btn-reset">Узнать больше</button>
      <p class="label text-reset">#мастеркласс</p>
    </article>
    <div class="works">
      <h2 class="section-title works__title title-reset">Работы участников предыдущего мастер-класса</h2>
      <ul class="works__list list-reset grid">
        <li class="works__item">
          <picture>
            <source srcset="../img/hero_works1320.avif" type="image/avif" media="(max-width: 576px)">
            <source srcset="../img/hero_works1320.webp" type="image/webp" media="(max-width: 576px)" >
            <source srcset="../img/hero_works1320.jpg" media="(max-width: 576px)">

            <source srcset="../img/hero_works1768.avif" type="image/avif" media="(max-width: 768px)">
            <source srcset="../img/hero_works1768.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="../img/hero_works1768.jpg" media="(max-width: 768px)">

            <source srcset="../img/hero_works11024.avif" type="image/avif" media="(max-width: 1024px)">
            <source srcset="../img/hero_works11024.webp" type="image/webp" media="(max-width: 1024px)">
            <source srcset="../img/hero_works11024.jpg" media="(max-width: 1024px)">

            <source srcset="../img/hero_works1.avif" type="image/avif">
            <source srcset="../img/hero_works1.webp" type="image/webp">
            <img class="image" loading="lazy" src="../img/hero_works1.jpg" width="630" height="300"
              alt="Портрет девушки">
          </picture>
        </li>
        <li class="works__item">
          <picture>
            <source srcset="../img/hero_works2320.avif" type="image/avif" media="(max-width: 576px)">
            <source srcset="../img/hero_works2320.webp" type="image/webp" media="(max-width: 576px)" >
            <source srcset="../img/hero_works2320.jpg" media="(max-width: 576px)">

            <source srcset="../img/hero_works2768.avif" type="image/avif" media="(max-width: 768px)">
            <source srcset="../img/hero_works2768.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="../img/hero_works2768.jpg" media="(max-width: 768px)">

            <source srcset="../img/hero_works21024.avif" type="image/avif" media="(max-width: 1024px)">
            <source srcset="../img/hero_works21024.webp" type="image/webp" media="(max-width: 1024px)">
            <source srcset="../img/hero_works21024.jpg" media="(max-width: 1024px)">

            <source srcset="../img/hero_works2.avif" type="image/avif">
            <source srcset="../img/hero_works2.webp" type="image/webp">
            <img class="image" loading="lazy" src="../img/hero_works2.jpg" width="300" height="257"
              alt="Портрет девушки">
          </picture>
        </li>
        <li class="works__item">
          <picture>
            <source srcset="../img/hero_works3320.avif" type="image/avif" media="(max-width: 576px)">
            <source srcset="../img/hero_works3320.webp" type="image/webp" media="(max-width: 576px)" >
            <source srcset="../img/hero_works3320.jpg" media="(max-width: 576px)">

            <source srcset="../img/hero_works3768.avif" type="image/avif" media="(max-width: 768px)">
            <source srcset="../img/hero_works3768.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="../img/hero_works3768.jpg" media="(max-width: 768px)">

            <source srcset="../img/hero_works31024.avif" type="image/avif" media="(max-width: 1024px)">
            <source srcset="../img/hero_works31024.webp" type="image/webp" media="(max-width: 1024px)">
            <source srcset="../img/hero_works31024.jpg" media="(max-width: 1024px)">

            <source srcset="../img/hero_works3.avif" type="image/avif">
            <source srcset="../img/hero_works3.webp" type="image/webp">
            <img class="image" loading="lazy" src="../img/hero_works3.jpg" width="300" height="257"
              alt="Портрет девушки">
          </picture>
        </li>
      </ul>

    </div>
  </div>
</section>
